@use "./variables" as *;

@font-face {
  font-family: "Titillium Web";
  src: url("../../src/assets/fonts/Titillium_web/TitilliumWeb-SemiBold.ttf")
      format("truetype"),
    url("../../src/assets/fonts/transfonter.org-semi-bold/TitilliumWeb-SemiBold.woff")
      format("woff"),
    url("../../src/assets/fonts/transfonter.org-semi-bold/TitilliumWeb-SemiBold.woff2")
      format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../src/assets/fonts/Titillium_web/TitilliumWeb-Regular.ttf")
      format("truetype"),
    url("../../src/assets/fonts/transfonter.org-regular/TitilliumWeb-Regular.woff")
      format("woff"),
    url("../../src/assets/fonts/transfonter.org-regular/TitilliumWeb-Regular.woff2")
      format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Milky Nice Clean";
  src: url("../../src/assets/fonts/milky_nice/MilkyNice-Clean.ttf") format
      ("truetype"),
    url("../../src/assets/fonts/milky_nice/MilkyNice-Clean.otf")
      format("opentype"),
    url("../../src/assets/fonts/transfonter.org-milky_nice_clean/MilkyNiceClean.woff")
      format("woff"),
    url("../../src/assets/fonts/transfonter.org-milky_nice_clean/MilkyNiceClean.woff2")
      fomat ("woff2");
  font-weight: 400;
}
