.login {
  display: flex;
  background-color: white;
  height: 50rem;
  &__form {
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin: auto;
    border-radius: 1rem;
    justify-content: center;

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem;

      &-item {
        display: flex;
        padding: 01rem;
        margin-top: 0.5rem;
        width: 20rem;
        height: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 0rem;
      }
    }
    &__button {
      display: flex;
      background-color: turquoise;
      font-weight: bold;
      margin-top: 0.5rem;
      margin-left: 35%;
      justify-content: center;
      padding: 0.5rem;
      font-size: 1.5rem;
      width: 8rem;
      border-radius: 2rem;
      color: black;
    }
  }
}
