.grade {
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url("../../assets/images/grade.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 50rem;

  &__form {
    display: flex;
    margin-top: 10rem;
    // background-image: url("../../assets/images/form.png");
    // background-repeat: no-repeat;
    // background-position: center;
    background-color: #f3cd45;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    flex-direction: column;
    justify-content: center;

    &-drop {
      display: flex;
      justify-content: center;
      width: 20rem;
      height: 3rem;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: white;
      margin-bottom: 2rem;
    }

    &-dropdown {
      display: flex;
      width: 16rem;
      height: 2rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      font-size: 1rem;
      font-weight: bold;
    }
    &-button {
      display: flex;
      width: 16rem;
      height: 2rem;
      justify-content: center;
      align-items: center;
      border-radius: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
      background: #008080;
      color: white;
    }
  }
}
