@use "../../../styles/partials/typography" as *;

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 15vh;
  background-color: #6863a9;

  &__logo {
    display: flex;
    justify-content: center;

    &-icon {
      padding-right: 2.5rem;
      padding-bottom: 1rem;
      width: 2.5rem;
    }
  }

  &__text {
    display: flex;
    color: #faf6ef;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
  }
}
