@use "../../../styles/partials/typography" as *;

.header {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  background-color: #fefefa;
  height: 10rem;

  &__logo {
    display: flex;
    margin-left: 3rem;
    width: 10rem;
  }
  &__nav {
    display: flex;
    text-decoration: none;
    list-style: none;
    margin-left: auto;
    &-link {
      font-weight: bold;
      font-size: 1.5rem;
      padding-top: 6rem;
      padding-right: 2.5rem;
    }
  }
}
